<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilfoto.jpg" id="foto_de_perfil"
        class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p> Garcia Echave Milagros</p>
        <p> Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, tempore! Nostrum sed recusandae at quas, facilis veritatis corrupti praesentium necessitatibus animi, in dolores fugiat et neque hic dolore veniam repellat.</p>
        </span>
    </div>
</div>
