<div class="row">
    <h1>Experiencia laboral </h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Porro dicta omnis modi ullam maiores velit commodi incidunt illum 
                voluptatibus laboriosam,veniam repellendus deserunt minus neque adipisci. Eum modi in facilis?</p>
                <li>
                    <h1>Trabajo 2</h1> - 
                    <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Porro dicta omnis modi ullam maiores velit commodi incidunt illum 
                    voluptatibus laboriosam,veniam repellendus deserunt minus neque adipisci. Eum modi in facilis?</p>
                </ul>
    </div>
</div>
